.number {
	
	color: red;
	font-style: bold;
}

html, body {
    height: 100%;
}

body{
		
		margin-top: 0px;




	text-align: center;

	background-color: #cccccc;
	color: white;

font-size: 1.3em;

font-family: 'Ropa Sans', sans-serif;


}

h1{
	font-size: 2.8em;
}


p{
	margin: 2em;
	margin-bottom: 3.5em;
}

.main{
 	
	background-color: #111111;
	position: absolute;
	





border: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}


input, button {
    width: 2em;
    padding: 2px 2px;
    
    font-size: 2em;
    display: inline-block;
    border: 3px solid #ccc;
    background-color: lightgray;
    border-radius: 4px;
    box-sizing: border-box;
}

#year{
	width: 3em;
}
#mainButton{
	width: 9em;
	height: 2em;
	border-radius: 15px;
	margin-top: 1em;
}

#userName{
	width: 8em;
}

input[type=button] {
    
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px;
    
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #45a049;
}


#column1 {
	
	float: left;
	
  top:0px;
	width: 50%;
	
}

#column2 {
	
	float: right;

  top:0px;
	
	width: 50%;
}

#InsText {
	font-size: 2em;
}


